// creo per utilizzare variabili di colore $
$black-text: rgba(0, 0 , 0, .6);
$blue-DC: rgb(2,130,249);
$black: rgb(0, 0 ,0);
$white: rgb(255,255,255);
$color-footer: rgb(48,48,48);
$white-text: rgba(255,255,255,0.3)